* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    min-height: 100vh;
}

.section {
    display: flex;
    flex-direction: column;
}

.show-btn {
    width: 50px;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin-bottom: 25px;
}

.display-container {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    flex-grow: 1;
}
.resume-background {
    background-color: #5f6269;
}

.resume-container {
    background-color: #fff;
}

